String Based Assignment Problem

In [33]:
"""1. Write a program to reverse a string."""
input_string=input("enter the string to be reversed")
reversed_string=input_string[: :-1]
print("input_string is ",input_string)
reversed_string

enter the string to be reversed pwskills

input_string is  pwskills

'sllikswp'

In [34]:
""" 2. Check if a string is a palindrome.
explanation : string is palindrome if the reversed and forward string is same """
input_string=input("enter the string ")
print("input_string is ",input_string)
new_string=input_string[: :-1]
if(input_string == new_string):
    print("the string is palindrome")
else :
    print("the string is not plaindrome")

enter the string  '12344321'

input_string is  '12344321'
the string is palindrome

In [35]:
"""3. Convert a string to uppercase.
expalnation: upper() is inbuilt function to convert 
the string to upper case """

input_string=input("enter the string ")
uppercase_string=input_string.upper()
print("input string is ",input_string)
uppercase_string

enter the string  krishna shingala

input string is  krishna shingala

'KRISHNA SHINGALA'

In [36]:
"""4. Convert a string to lowercase.
expalnation: lower() is inbuilt function to convert 
the string to lower case """

input_string=input("enter the string ")
lowercase_string=input_string.lower()
print("input string is ",input_string)
lowercase_string

enter the string  KRISHNA SHINGALA

input string is  KRISHNA SHINGALA

'krishna shingala'

In [37]:
"""5. Count the number of vowels in a string.
expalnation: vowels are letters belong to [a,e,i,o,u] family
iterate the character in string using for loop, then
using membership operator(in) check character lies whithin the string"""

input_string=input("enter the string ")
count=0
for char in input_string:
    if char in "aeiou":
        count+=1
print("input string is ",input_string)
count

enter the string  data science is best course

input string is  data science is best course

10

In [39]:
"""6. Count the number of consonants in a string.
explanation:consonants are the letters which are not present in vowels family
using above code find number of vowels , then subtract vowels from 
total characters in string(using len() ) """

input_string=input("enter the string ")
count=0
for char in input_string:
    if char in "aeiou":
        count+=1
consonants=len(input_string)-count
print("input string is ",input_string)
consonants

enter the string  data science is best course

input string is  data science is best course

17

In [40]:
"""7. Remove all whitespaces from a string."""
input_string=input("enter the string ")
new_string=""
for char in input_string:
    if(char!=" "):
        new_string= new_string+char
print("input string is ",input_string)
new_string

enter the string  krishna s h i n ga la

input string is  krishna s h i n ga la

'krishnashingala'

In [41]:
"""8. Find the length of a string without using the `len()` function.
explanation: iterate the for loop within the string"""
input_string=input("enter the string ")
length_of_string=0
for char in input_string:
     length_of_string+=1
print("input string is ",input_string)
length_of_string

enter the string  hello krishna hi

input string is  hello krishna hi

16

In [42]:
"""9. Check if a string contains a specific word.
explanation= find()method will check whether the desired character 
present in string, if present will return index otherwise return -1"""

input_string=input("enter the string ")
print("input string is ",input_string)
check_word= input_string.find('a')
check_word

enter the string  hello

input string is  hello

-1

In [44]:
""" 10. Replace a word in a string with another word.
explanation= replace('char1' , 'char2') method is used to replace
char1 with char2 in string"""

input_string=input("enter the string ")
print("input string is " ,input_string)
replace_word=input_string.replace('e', 'z')
replace_word

enter the string  hello dear good morning

input string is  hello dear good morning

'hzllo dzar good morning'

In [2]:
"""11. Count the occurrences of a word in a string.
explanation= count('char") methhod will count the occuranceof character 
in given string"""

input_string=input("enter the string ")
print("input string is " ,input_string)
occurance=input_string.count('z')
occurance

enter the string  old zebra is a good zebra

input string is  old zebra is a good zebra

140278657787232

In [4]:
"""12. Find the first occurrence of a word in a string.
explanation= find() method will find fisrt occurance of a word from string"""
input_string=input("enter the string ")
first_occurance=input_string.find('k')
first_occurance

enter the string  hello krishna , how are you krishna

6

In [6]:
""" 13. Find the last occurrence of a word in a string.
explanation= rfind()will find last occurnace of characrer from string"""
input_string=input("enter the string ")
last_occurance=input_string.rfind('k')
last_occurance

enter the string  hello krishna how are you krishna

26

In [8]:
"""14. Split a string into a list of words
explanation= spilt() method will split words from string in form of list """
input_string=input("enter the string ")
spilt_word=input_string.split()
spilt_word

enter the string  hello krishna how are you krishna

['hello', 'krishna', 'how', 'are', 'you', 'krishna']

In [15]:
""" 15. Join a list of words into a string."""
input_string=input("enter the string ")
a=input_string.join(['hello','hi','bye'])
a

enter the string  krishna

'hellokrishna hikrishna bye'

In [20]:
""" 16. Convert a string where words are separated by spaces to one where words
 are separated by underscores
 explanation= replace("old char","replaced char")is used to replace spaces with underscores"""
input_string=input("enter the string ")
new_string=input_string.replace(" ", "_")
new_string

enter the string  hello krishna how are you

'hello_krishna_how_are_you_'

In [21]:
""" 17. Check if a string starts with a specific word or phrase.
explanation= startswith() method will return true if starts  with specific character
otherwise return false."""
input_string=input("enter the string ")
input_string.startswith('k')

enter the string  krishna mnsbjds

True

In [23]:
""" 18. Check if a string ends with a specific word or phrase.
explanation = endswith() method will return true if string ends specific character
otherwise return false."""
input_string=input("enter the string")
input_string.endswith("z")

enter the string hello krishna welcome to pwskills

False

In [25]:
"""  19. Convert a string to title case (e.g., "hello world" to "Hello World").
explanation= title() method will convert normal string to title case which 
means every first character of a word is capaital"""
input_string=input("enter the string")
title_string=input_string.title()
title_string

enter the string hello krishna welcome to pwskills

'Hello Krishna Welcome To Pwskills'

In [3]:
""" 20. Find the longest word in a string.
explanation= make a list of words using split() method from string
consider max_lenght which will store maximum length of word from list and longest variable will store that repective word with maxlength
iterate the loop in loop , using len() method find length and compare with max_length , assign longest length to max_length and that word to longest varaible.
"""

input_string=input("enter the string")
new_list=input_string.split(" ")
max_length=0
longest=""
for i in new_list:
    if(len(i)>max_length):
        max_length=len(i)
        longest=i
print("the longest word is",longest," and the respective length is ",max_length)

enter the string h hyjh hjh

the longest word is hyjh and the respective length is  4

In [9]:
""" 21. Find the shortest word in a string.
"""
input_string=input("enter the string")
new_list2=input_string.split(" ")
min_length=999
shortest=""
for i in new_list2:
    if(len(i)<min_length):
        min_length=len(i)
        shortest=i
print("the shortest word is",shortest," and the respective length is ",min_length)

enter the string hello krishna hi gm

the shortest word is hi  and the respective length is  2

In [15]:
"""22. Reverse the order of words in a string.
explanation=make a list of words using split() method from string,then reversed the order using slicing method """
input_string=input("enter the string")
word=input_string.split()
reversed_string=word[: :-1]
print(reversed_string)

enter the string hello hi how are you good morning

['morning', 'good', 'you', 'are', 'how', 'hi', 'hello']

In [20]:
"""  23. Check if a string is alphanumeric.
explanation= isalnum() method is used to check the string is alpanumeric or not 
exmple: hello123=alpanumeric but krishna 12345 is not alpanumeric
"""
input_string=input("enter the string")
input_string.isalnum()

enter the string krishna12345

True

In [13]:
""" 24. Extract all digits from a string
explanation= isdigit() is inbuilt method used to extract the digits from string """
input_string=input("enter the string")
digits=""
for c in input_string:
    if(c.isdigit()):
        digits+=c
print(digits)

enter the string hello123krishna 5568

1235568

In [14]:
""" 25. Extract all alphabets from a string.
explanation= isalpha() is inbuilt method used to extract the alphabets from string """
input_string=input("enter the string")
alphabets=""
for c in input_string:
    if(c.isalpha()):
        alphabets+=c
print(alphabets)

enter the string krishna12553hello

krishnahello

In [15]:
""" 26. Count the number of uppercase letters in a string.
explanation= isupper() method is used to extract uppercase letter form the string,
then count_uppercase variable is updated """

input_string=input("enter the string")
count_uppercase=0
for char in input_string:
    if(char.isupper()):
        count_uppercase+=1
print(count_uppercase)

enter the string krISHNA heLLO

8

In [16]:
""" 27. Count the number of lowercase letters in a string.
explanation= islower() method is used to extract lowercase letter form the string,
then count_lowercase variable is updated """

input_string=input("enter the string")
count_lowercase=0
for char in input_string:
    if(char.islower()):
        count_lowercase+=1
print(count_lowercase)

enter the string krisHNA hello SHINGALa

10

In [30]:
""" 28. Swap the case of each character in a string.
explanation= using if  check character is uppercase if yes then using lower() method convert into uppercase and 
concatenate in modified_string and in else block convert character to uppercase using upper() method and concetanate in modified_string"""
input_string=input("enter the string")
modified_string=""
for char in input_string:
    if(char.isupper()):
        modified_string+= char.lower()
      
    else:
        modified_string+=char.upper()
print(modified_string)
 """ OR 
 input_string.swapcase()
 """

enter the string krishnaSHINGALA

KRISHNAshingala

In [38]:
""" 29. Remove a specific word from a string.
explanation = iterate the loop in input_string and check the condition if char!='k' then add that specific 
character to new_string"""

input_string=input("enter the string")
new_string=""
for char in input_string:
    if(char!='k'):
         new_string+=char
print(new_string)

enter the string hello krishna hk

hello rishna h

In [11]:
""""  30. Check if a string is a valid email address. """
import re
 
def check(s):
    pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
    if re.match(pattern,s):
        print("Valid Email")
    else:
        print("Invalid Email")
 
check("krishna553@gmail.com")

Valid Email

In [14]:
""" 31. Extract the username from an email address string.
explanation= from email extract username using split method from'@' and pass index [0] because
split method will break the string from two part :username and domain name , o th index  will 
fetch the username """

def extract_username(email):
    username= email.split('@')[0]
    return username
extract_username("krishna@gamil.com")

'krishna'

In [15]:
"""  32. Extract the domain name from an email address string.
explanation= this example follow the method of above example but the only difference is here 
index [1] is given to fecth the domain from email"""

def extract_domain(email):
    domain=email.split("@")[1]   #[username, domain]
    return domain
extract_domain("krishna@gmail.com")

'gmail.com'

In [18]:
"""  33. Replace multiple spaces in a string with a single space.
explanation= using replace method user can replace single space to multiple space """
input_string=input("enter the string")
input_string.replace(" ","   ")

enter the string hello everyone have a nice day

'hello   everyone   have   a   nice   day   '

In [9]:
""" 34. Check if a string is a valid URL.
explanation= if the string starts with www and ends with .com then it is one of 
the valid URL
startswith() will check the string starts with the www
endswith() will check the string ends with .com"""

input_string=input("enter the url")
if(input_string.startswith("www.")):
    if(input_string.endswith(".com")):
        print(" it is valid URL ")

enter the url www.pwskills.com

 it is valid URL

In [13]:
""" 35. Extract the protocol (http or https) from a URL string.
"""
input_string=input("enter the url")
l=[]

enter the url www. krishna .com

['www.', 'krishna', '.com']

In [18]:
"""  36. Find the frequency of each character in a string.
explanation= after taking input from user create empty dictnory then using count()
count the frequency of character form string then add that character as key and its value 
as count to the dict
"""
input_string=input("enter the string")
d={}
for i in input_string:
    d[i]=input_string.count(i)
print( d)

enter the string krishna shingala

{'k': 1, 'r': 1, 'i': 2, 's': 2, 'h': 2, 'n': 2, 'a': 3, ' ': 1, 'g': 1, 'l': 1}

In [23]:
""" 37. Remove all punctuation from a string.
explantion = make a list of punctuation and iterate the loop in input_string
then check if charater i not present in punctustion list then add that character to new list """
input_string=input("enter the string")
new_string=""
punctuation=[',' , '.', '?', '!','"','&']
for i in input_string:
    if(i not in punctuation):
        new_string+=i
print(new_string)

enter the string krishna, shingala& hello.

krishna shingala hello

In [25]:
""" 38. Check if a string contains only digits.
 explanation= isdigit() method is used to check if string contains digits then it will 
 return true else it will return false"""
input_string=input("enter the string")
input_string.isdigit()

enter the string 1255

True

In [29]:
"""  39. Check if a string contains only alphabets.
explanation= isalpha() method will check the string has alphabets and if user add space within the alphbets
then it will return false , hence user need to enter only a word """
input_string=input("enter the string")
input_string.isalpha()

enter the string krishna

True

In [31]:
"""  40. Convert a string to a list of characters.
explanation= with typecasting we can convert a string to a list of characters"""

input_string=input("enter the string")
list(input_string)

enter the string krishna

['k', 'r', 'i', 's', 'h', 'n', 'a']

In [38]:
""" 41. Check if two strings are anagrams.
explantion= An anagram of a string is another string that contains the same characters, only the order of characters can be different.
For example, “abcd” and “dabc” are an anagram of each other.
"""
input_string1=input("enter the string")
input_string2=input("enter the string")
count=0
for i in input_string1:
    if(i in input_string2):
         count+=1
if(count==len(input_string1)):
    print( "strings is anagrams")
else:
    print("string is not anagrams")

enter the string pwskills
enter the string sllikwp

strings is anagrams

In [5]:
"""  42. Encode a string using a Caesar cipher.
xplanation = formula for encryption = (index(char)+shift_value)%26"""
alphabet=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
def encryption(plain_text, shift_key):
    cipher_text=""
    for i in plain_text:
        position=alphabet.index(i)
        new_position=(position+shift_key)%26
        cipher_text+=alphabet[new_position]
    print("the cipher text for plain text is ",cipher_text)
encryption("jenny",3)

the cipher text for plain text is  mhqqb

In [9]:
"""  43. Decode a Caesar cipher encoded string.
explanation = formula for decryption = (index(char)-shift_value)%26 """
alphabet=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
def decryption(cipher_text, shift_key):
    plain_text=""
    for i in cipher_text:
        position=alphabet.index(i)
        new_position=(position-shift_key)%26
        plain_text+=alphabet[new_position]
    print("the plain text for the respected cipher text is ",plain_text)
decryption("mhqqb",3)

the plain text for the respected cipher text is  jenny

In [31]:
"""  44. Find the most frequent word in a string.
explantion= split the string into words , then counter() method will count the frequency of each word
then most_common() method will return tuple each tuple has word with its frequency, We extract the word from the most common tuple.
and then return the most_common_word.
"""
import re
from collections import Counter
input_string=input("enter the string")


def most_frequent_word(input_string):
    words = input_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word


print("most frequent word is",most_frequent_word(input_string))

enter the string krishna hello krishna how are you krishna

most frequent word is krishna

In [37]:
"""  45. Find all unique words in a string.
explanation= first split the string into list of words using the split() mwthod
then typecaste the list into set as set contain all unqiue element and then print that set unique_word"""
input_string=input("enter the string")
words=input_string.split()
unique_word=set(words)
print(unique_word)

enter the string krishna hello how are you krishna

{'krishna', 'are', 'hello', 'you', 'how'}

In [50]:
"""  46. Count the number of syllables in a string.
SYLLABLES=A syllable is a part of a word that contains a single vowel sound and that is pronounced as a unit """
input_string=input("enter the string")
words=input_string.split()
vowels=['a','e','i','o','u']
count=0
for i in words:
    alpha=str(words)
    for i in alpha:
        if( i in vowels):
            count+=1
        
print("syllables is",count)

enter the string hello

syllables is 2

In [1]:
""" 47. Check if a string contains any special characters.
 """
input_string=input("enter the string")
special_character=['!','@','#','$','%','^','&','*',':','?','/']
for i in input_string:
    if( i in special_character):
        a=True
if(a):
    print("string has special character ")

enter the string krishna$ hello%

string has special character

In [17]:
""" 48. Remove the nth word from a string. """
input_string=input("enter the string")
words=input_string.split()
index=0
new_string=""
for i in words:
    index+=1
print("removed nth word is",words[index-1])
for i in words:
    if(i!=words[index-1]):
        new_string+=i
print("after removing the n th word string will be look as ",new_string)

enter the string hello krishna

removed nth word is krishna
after removing the n th word string will be look as  hello

In [25]:
"""49. Insert a word at the nth position in a string. """
input_string=input("enter the string")
# add the word at nth position using string oncatenation
new_string= input_string+"bye" 
print(new_string)

enter the string hello krishna

hello krishna bye

In [4]:
"""  50. Convert a CSV string to a list of lists."""
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')
    print(lines)

    # Initialize an empty list to store the result
    result = []

    for i in lines:
        # Split each line into fields using comma as the delimiter
        fields = i.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result



# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list("Name,Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK")

# Print the result
for row in list_of_lists:
    print(row)

['Name, Age, Country', 'John, 25, USA', 'Alice, 30, Canada', 'Bob, 22, UK']
['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

list Based Practice Problem

In [6]:
""" 1. Create a list with integers from 1 to 10"""
#create empty list 
l=[]
for i in range(1,11):
    
    #add the element to empty list 
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
"""2. Find the length of a list without using the `len()` function."""
#create the list 
l=[1,2,3,5,63,54,322,56]

#take length variable which will count the length of the list
length=0

#traverse the list till end and increament by value 1 in length varaiable
for i in l:
    length+=1
print("the length of the list is ", length)

the length of the list is  8

In [11]:
"""3. Append an element to the end of a list."""
#create the list 
l=[1,2,3,4,5,6,7,8,9]

#create the empty list 
l2=[]

#traverse the list till end and add the elements of l to l2 using append() method
for i in l:
    l2.append(i)
    
print("the final list is", l2)

the final list is [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
""" 4. Insert an element at a specific index in a list"""
#create the list 
l=[1,2,4,5,6,7]

#insert the value at 2 nd position using insert(index,value)function
l.insert(2,"new value")
l

[1, 2, 'new value', 4, 5, 6, 7]

In [17]:
""" 5. Remove an element from a list by its value."""
#create the list 
l=[1,2,4,5,6,7]

#remove the element from the list using remove(value)method 
l.remove(7)
l

[1, 2, 4, 5, 6]

In [18]:
"""6. Remove an element from a list by its index."""
#create the list 
l=[1,2,4,5,6,7]

#remove the value at specific index using pop(index) function
l.pop(0)
l

[2, 4, 5, 6, 7]

In [29]:
""" 7. Check if an element exists in a list."""
#create the list 
l=[1,2,4,5,6,7]

#take value form user need to check in the list
element_check=int(input("enter the element to check in the list"))
for i in l:
    
    #if element which user wants and present in the list then make value of a as true and terminate the loop
    if(element_check == i):
        a=True
        break
        
    #if element which user wants and present in the list then make value of a as false
    else:
        a=False
if(a):
    print("element which user want  exist in the list")
else:
    print("element which user wants dosnt exist in the list")

enter the element to check in the list 2

element which user want  exist in the list

In [30]:
"""8. Find the index of the first occurrence of an element in a list"""
#create the list 
l=[1,2,4,5,6,7]

#index of the first element of the list using index(value)function
l.index(1)

0

In [33]:
""" 9. Count the occurrences of an element in a list"""
#create the list 
l=[1,2,4,5,6,5,8,7,5,7,5,5,5,7]

#count the number of the occurance of the element using count(value)function
print("the number of occurance of 5 in the list is ",l.count(5))

the number of occurance of 5 in the list is  6

In [37]:
"""10. Reverse the order of elements in a list"""
#create the list 
l=[1,2,4,5,6,7]

#reverse the element of the list using reverse() function
l.reverse()
l

[7, 6, 5, 4, 2, 1]

In [38]:
""" 11. Sort a list in ascending order"""
#create the list 
l=[1,2,4,5,6,7,10,9,45,40]

#sort the list using the sort()function
l.sort()
l

[1, 2, 4, 5, 6, 7, 9, 10, 40, 45]

In [44]:
""" 12. Sort a list in descending order."""
#create the list 
l=[1,2,4,5,6,7,10,9,45,40]

#for descending order sorting pass argumrnt as reverse=True in sort() function
l.sort(reverse=True)
l

[45, 40, 10, 9, 7, 6, 5, 4, 2, 1]

In [46]:
"""13. Create a list of even numbers from 1 to 20"""
#create the empty list
l=[]

#iterate the loop for 1 to 20
for i in range(1,21):
    
    #check if the element is even 
    if(i%2==0):
        
        #if element is even then append to the list l 
        l.append(i)
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
""" 14. Create a list of odd numbers from 1 to 20"""
#create the empty list
l=[]

#iterate the loop for 1 to 20
for i in range(1,21):
    
    #check if the element is odd 
    if(i%2!=0):
        
        #if element is odd then append to the list l 
        l.append(i)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [49]:
""" 15. Find the sum of all elements in a list."""
#create the list 
l=[1,2,4,5,6,7,10,9,45,40]

#add all the element using sum() function
print("sum of the all elments in the list is ",sum(l))

sum of the all elments in the list is  129

In [50]:
"""16. Find the maximum value in a list."""
#create the list 
l=[1,2,4,5,6,7,10,9,45,40]

#find maximum element from the list using max() function
print("maximun from the list is ",max(l))

maximun from the list is  45

In [52]:
""" 17. Find the minimum value in a list"""
#create the list 
l=[1,2,4,5,6,7,10,9,45,40]

#find minimum element from the list using min() function
print("minimun from the list is ",min(l))

minimun from the list is  1

In [56]:
""" 18. Create a list of squares of numbers from 1 to 10"""
#create the empty list
square_list=[]
for i in range(1,11):
    #i**2 is used to find square of the element then append to empty list
    square_list.append(i**2)
    
print("square of the number form 1 to 10 is ",square_list)

square of the number form 1 to 10 is  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [65]:
"""19. Create a list of random numbers."""
#for generating random numbers import random library 
import random 

#create empty list
random_int=[]
for i in range(1,11):
    
    #append the random numbers generated by random library followed by randint(range)method 
    random_int.append(random.randint(1,100))
random_int

[3, 64, 40, 51, 70, 60, 26, 25, 4, 48]

In [69]:
"""20. Remove duplicates from a list."""
#create the list 
l=[1,2,4,5,6,5,8,7,5,7,5,5,5,7]

#for unique value typecaste to set the to list
unique_value=list(set(l))
unique_value

[1, 2, 4, 5, 6, 7, 8]

In [3]:
""" 21. Find the common elements between two lists"""
l=[1,2,5,85,96,45,2]
l2=[52,84,45]

#typecasting of list l to set s
s=set(l)

#typecasting of list l2 to set s2
s2=set(l2)

#doing intersection of two set will give common element between two set 
print("common element between two list is",list(s.intersection(s2)))

common element between two list is [45]

In [21]:
"""22. Find the difference between two lists """
l=[1,2,52,5,84]
l2=[52,84]
#typecasting of list l to set s
s=set(l)

#typecasting of list l2 to set s2
s2=set(l2)

#doing difference of two set will give common element between two set 
print("difference between two list is",list(s.difference(s2)))

difference between two list is [1, 2, 5]

In [24]:
"""23. Merge two lists."""
l=[1,2,52,5,84]
l2=[52,84]

#concetination of two list will merge the lists 
l+l2

[1, 2, 52, 5, 84, 52, 84]

In [29]:
"""24. Multiply all elements in a list by 2."""
l=[1,2,3,4,5,6,7]
l2=[]
for i in l:
    
    #multiply element of the list with 2 then append it to new list l2
    l2.append(i*2)
print("multiplication of the list with 2 is ",l2)

multiplication of the list with 2 is  [2, 4, 6, 8, 10, 12, 14]

In [31]:
""" 25. Filter out all even numbers from a list"""
#create the list
l=[1,5,2,7,3,4,8,0,15,16,18,12,87,98]

#create the empty list
even_list=[]

#traverse the list l
for i in l:
    
    #check it the element is even number
    if(i%2==0):
        
        #if the element is even then add that element into empty list using append()method
        even_list.append(i)
print("the list of even number is",even_list)

the list of even number is [2, 4, 8, 0, 16, 18, 12, 98]

In [35]:
""" 26. Convert a list of strings to a list of integers"""
#create the list
l=["1","52","58","102"]

#typecasting from string to int with list comprehension
int_list=[int(i) for i in l]
int_list

[1, 52, 58, 102]

In [36]:
""" 27. Convert a list of integers to a list of strings"""
#create the list
l=[14,54,78,99,102]

#typecasting from int to string with list comprehension
str_list=[str(i) for i in l]
str_list

['14', '54', '78', '99', '102']

In [14]:
"""28. Flatten a nbested list"""
l=[[1],[2,3,4],[5,6,7,8,9],[0,10]]
flatten_list=[]
for i in l:
    for j in i:
        flatten_list.append(j)
flatten_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10]

In [50]:
""" 29. Create a list of the first 10 Fibonacci numbers."""
l=[0,1]
first_no=0
second_no=1
for i in range(1,9):
    #adding fist and secind number into 3 rd position
    new_no=first_no + second_no
    
    #adding that number to list 
    l.append(new_no)
    
    #swapping fist with second number and second with third(new)number
    first_no,second_no=second_no,new_no
print("fibonacci series of first 10 number is",l)

fibonacci series of first 10 number is [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [56]:
"""30. Check if a list is sorted."""
#create the recurrsion function
def is_sorted(l):
    
    #if length of the list is 1 then no need to check it is already sorted hence it could be base condition
    if(len(l)==1):
        return "list is sorted"
    
    #if first element is greater then second then list is not sorted
    elif(l[0]>l[1]):
            return "list is not sorted"
    
    #if abo
    else:
        return is_sorted(l[1:])

is_sorted([1,8,2,4,9])

'list is not sorted'

In [11]:
"""31. Rotate a list to the left by `n` positions.
n number of elements from leftside of the list must be swap to end of the list """
l=[1,2,3,4,5,6,7,8]

#take value of n from user 
n=int(input("enter the value of n to rotate from left"))

#break the list into 2 part: 1 st part=[numbers to swap at end], 2 nd part=[remaining numbers].  then add 2nd part and 1 st part 
rotated_list=l[n:]+l[:n]
rotated_list

enter the value of n to rotate from left 2

[3, 4, 5, 6, 7, 8, 1, 2]

In [12]:
"""32. Rotate a list to the right  by `n` positions.
n number of elements from righttside of the list must be swap to starting of the list """
l=[1,2,3,4,5,6,7,8]

#take value of x from user  and subtract it from length of list 
x=int(input("enter the value of x to rotate from right"))
n=len(l)-x

#break the list into 2 part: 1 st part=[numbers to swap at end], 2 nd part=[remaining numbers].  then add 2nd part and 1 st part 
rotated_list=l[n:]+l[:n]
rotated_list

enter the value of x to rotate from right 2

[7, 8, 1, 2, 3, 4, 5, 6]

In [14]:
""" 33. Create a list of prime numbers up to 50."""
#create the empty list 
l=[]

#traverse the loop from 1 to 50 for generating the list
for i in range(1,51):
    
    #set a = 0 for every new value of i 
    a=0
    
    #check divisibility of i with j(from 2 to i-1 )
    for j in range(2,i):
        
        #if i and j is divisible then it is not prime number and then break the loop
        if(i%j==0):
            a=1
            break
    
    #if a ==0 means i and j is not divisible hence it's prime number ,so append that value of i in the list 
    if(a==0):
        l.append(i)
l

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [17]:
""" 34. Split a list into chunks of size `n`."""
l=[1,2,3,4,5,6]
split_list=str(l)
tuple(split_list.split(","))

('[1', ' 2', ' 3', ' 4', ' 5', ' 6]')

In [23]:
""" 35. Find the second largest number in a list."""
#create the list 
l=[1,9,6,4,10,50,43,78]

#sort the list in ascending order 
l.sort()

#find the length of the list using len() method to get last to second index of the sorted list 
len(l)
print("list after sorting ",l)

#fetch the last to second elment form the list as indexing of [length -2 ]
print("the second largest number is ", l[8-2])

list after sorting  [1, 4, 6, 9, 10, 43, 50, 78]
the second largest number is  50

In [24]:
"""36. Replace every element in a list with its square"""
#create the list 
l=[1,4,3,7,8,9,20]

#create the empty list
sqr_list=[]

#traverse the loop in the list 
for i in l:
    
    #do square of the element of the list 
    sqr=i**2 
    
    #add the sqaure to the list using append() method
    sqr_list.append(sqr)
print("list of squares is")
sqr_list

[1, 16, 9, 49, 64, 81, 400]

In [14]:
""" 37. Convert a list to a dictionary where list elements become keys and their 
indices become values."""
#create the list
l=["hello", "krishna", "shingala"]

#apply dictionary comprenhsion using enumerate function which return index from 1 
x={ element:index for index , element in enumerate(l,1)}
x

{'hello': 1, 'krishna': 2, 'shingala': 3}

In [23]:
"""  38. Shuffle the elements of a list randomly."""
#for shuffling the elements within the list need to import random library
import random 

#create the list 
l=[1,2,3,4,5,6]

#use shuffle() method of random library which will shuffle the elements of list within the original list i.e it will not make changes in other memory location
random.shuffle(l)
l

[6, 4, 5, 2, 1, 3]

In [25]:
"""39. Create a list of the first 10 factorial numbers"""
#create the empty list
l=[]

#initalize the variable fact as 1 which will store the value of the factorial 
fact=1

#traverse the loop from 1 to 11
for i in range(1,11):
    
    #multiply fact with i 
    fact=fact*i
    
    #append the value of fact in the empty list l
    l.append(fact)
print("the factorial of 10 numbers is \n", l)

the factorial of 10 numbers is
 [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [2]:
""" 40. Check if two lists have at least one element in common."""
l1=[1,2,3,4,66,53,778]
l2=[54,35,778,2,90,3244]

#typecasting two list into set 
s1,s2=set(l1),set(l2)

#doing intersection between two set to find the common element
common_value=s1.intersection(s2)

#if the lenght of the set having common element is more then 0 that means two list have one or more common element
if(len(common_value)>0):
    print("two list has at least one common element ")
else:
    print("no common element found between two list")

two list has at least one common element

In [4]:
"""41. Remove all elements from a list."""
#create the list
l=[1,2,3,6,865,54]

#delete all the elments from the list using clear() method 
l.clear()
l

[]

In [5]:
"""42. Replace negative numbers in a list with 0"""
#create the list 
l=[1,4,54,-3,45,-45]

#traverse the list 
for i in l:
    
    #check if the number is negative
    if(i<0):
        
        #if number is negative then find index of that element
        index=l.index(i)
        
        #assign 0 to that negative value in the list 
        l[index]=0
l

[1, 4, 54, 0, 45, 0]

In [7]:
""" 43. Convert a string into a list of words"""
#create the string
s="hello world here is the practical for data science course hope you enjoy it"

#split the words from the string using split() method 
s.split()

['hello',
 'world',
 'here',
 'is',
 'the',
 'practical',
 'for',
 'data',
 'science',
 'course',
 'hope',
 'you',
 'enjoy',
 'it']

In [12]:
""" 44. Convert a list of words into a string."""
#create the list
l=["hello", "krishna", "shingala"]

#join string with sapce and l using join() method
my_string=" ".join(l)
my_string

'hello krishna shingala'

In [18]:
""" 45. Create a list of the first `n` powers of 2"""
#create the list
l=[]

#take the value of n from user
n=int(input("enter the value of n "))

#traverse the loop from 1 to n
for i in range(1,n+1):
    
    #calculate the 2 with the power of i
    power_2=2**i
    
    #append the power of 2 in l
    l.append(power_2)
print("the list of the first n powers of 2 is \n",l)

enter the value of n  5

the list of the first n powers of 2 is
 [2, 4, 8, 16, 32]

In [9]:
""" 46. Find the longest string in a list of strings"""
#create the list
l=["hello","krishna","shingala","helloworld"]

#set the value of maximuim variable as 0
maximuim=0

#create the empty string
longest_string=""

#traverse the for loop within the list
for i in l:
    
    #store the length of list element in lenght variable
    length=len(i)
    
    #check if lenght of the list elemnet is grater then value stored in maximuim 
    if(length>maximuim):
        
        #if lenght of list element is grater then store that value in maximuim variable
        maximuim=len(i)
        
        #store the respective list element in longest_string variable 
        longest_string=i
print("the longest element form the list is \n",longest_string)

the longest element form the list is
 helloworld

In [14]:
""" 47. Find the shortest string in a list of strings."""
#create the list
l=["hello","krishna","shingala","helloworld"]

#set the value of maximuim variable as 999(largest value)
minimuim=999

#create the empty string
shortest_string=""

#traverse the for loop within the list
for i in l:
    
    #store the length of list element in lenght variable
    length=len(i)
    
    #check if lenght of the list elemnet is grater then value stored in maximuim 
    if(length<minimuim):
        
        #if lenght of list element is grater then store that value in maximuim variable
        minimuim=len(i)
        
        #store the respective list element in longest_string variable 
        shortest_string=i
print("the shortest element from the list is \n",shortest_string)

the shortest element from the list is
 hello

In [21]:
"""48. Create a list of the first `n` triangular numbers
traingular number = number of sequence to get euiqvalent number
formula =  (n)(n + 1) / 2."""
#create the empty list 
triangular_list=[]

#take value of n from user 
n=int(input("enter the value of n"))

#traverse the loop from 1 to n
for i in range(1,n+1):
    
    #apply the formula and store the value in triangular_value varaible
    triangular_value=int((i)*(i+1)/2)
    
    #add that value in the list 
    triangular_list.append(triangular_value)
print("the list of triangular number is \n",triangular_list)

enter the value of n 10

the list of triangular number is
 [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [5]:
""" 49. Check if a list contains another list as a subsequence."""
#create the list from which need to find teh subsequence
main_list=[1,2,3,4,5,6,7,8]

#create the subsequence list 
subsequence=[2,5,6]

#index for traversing subsequence list , initally set as 0
sub_index=0
for i in main_list:
    
    #check if the element of main list is present in subsequence list 
    if(i==subsequence[sub_index]):
        
        #if the main list has element of subqsquence then add 1
        sub_index+=1
        
        #then check if the lenght of list and index is same 
        if(sub_index==len(subsequence)):
            
            #if both value is same thats means all element of subsequence is been  checked , make is_subsequnece true and break the loop
            is_subsequence=True 
            break
if(is_subsequence):
    print("main list contain the subsequence ")
else:
    print("main dosnt contain the subsequence")

main list contain the subsequence

In [10]:
"""50. Swap two elements in a list by their indices."""
#create the list 
l=[1,2,3,4,5]
temp=0
print("enter the indices to swap between 1 to 5")

#take value of indices to swap from user 
index1=int(input("enter the value for index1"))
index2=int(input("enter the value for index2"))

#using temp variable swap the elments 
temp=l[index1]
l[index1]=l[index2]
l[index2]=temp
l

enter the indices to swap between 1 to 5

enter the value for index1 1
enter the value for index2 3

[1, 4, 3, 2, 5]

tuple Based Practice Problem

In [16]:
""" 1. Create a tuple with integers from 1 to 5 """
t=(1,2,3,4,5)
print("tuple with integers from 1 to 5 \n",t)

tuple with integers from 1 to 5
 (1, 2, 3, 4, 5)

In [18]:
"""2. Access the third element of a tuple."""
#create the tuple
t=(1,2,3,4,5,6,7)

#fetch the third element using indexing
print("third element of the tuple is ", t[3])

third element of the tuple is  4

In [20]:
""" 3. Find the length of a tuple without using the `len()` function."""
#create the tuple
t=(1,2,3,4,5,6,7)
length=0
for i in t:
    
    #increament the value of the length variable until the tuple 
    length+=1
print("the length of the tuple is ",length)

the length of the tuple is  7

In [26]:
""" 4. Count the occurrences of an element in a tuple."""
#create the tuple
t=(1,2,3,4,5,6,7,2,3,4,2,4,2,5)
occurrence=0
n=int(input("enter the value of n that need to count the occurrences in tuple"))
for i in t:
    
    #check if the element of list is same as requested by user then add value of occurrence
    if(i==n):
        occurrence+=1
print("the occurrenece of in the tuple is ",occurrence)

enter the value of n that need to count the occurrences in tuple 2

the occurrenece of in the tuple is  4

In [5]:
""" 5. Find the index of the first occurrence of an element in a tuple."""
#create the tuple
t=(1,2,3,4,5,6,7,2,3,4,2,4,2,5)

#take the value to find from the user 
find_first_occurrence=int(input("enter value need to find the first occurrence"))
for i in t:
    
    #check if element in tuple is same as with element need by user 
    if(find_first_occurrence==i):
        
        #if both the number matchs then print the index of that element and break the loop
        print("index of the first occurrence of number is \n",t.index(i))
        break

enter value need to find the first occurrence 2

index of the first occurrence of number is
 1

In [8]:
""" 6. Check if an element exists in a tuple."""
#create the tuple
t=(1,2,3,4,5,6,7,2,3,4,2,4,2,5)
a=False

#take the value to find from the user 
element=int(input("enter value need to find the first occurrence"))
for i in t:
    
    #check if element in tuple is same as with element need by user 
    if(i==element):
        a=True
if(a):
    print("the element user is looking for is existing in the tuple ")
else:
    print("element dosnt exist in the tuple")

enter value need to find the first occurrence 345

element dosnt exist in the tuple

In [9]:
""" 7. Convert a tuple to a list."""
#create the tuple
t=(1,2,3,4,5,6,7,2,3,4,2,4,2,5)

#typecasting of tuple into list 
converted_list=list(t)
converted_list

[1, 2, 3, 4, 5, 6, 7, 2, 3, 4, 2, 4, 2, 5]

In [11]:
""" 8. Convert a list to a tuple."""
#create a list 
l=[1,2,3,4,5,6,7,8,9,3,234]

#typecasting of list into tuple 
converted_tuple=tuple(t)
converted_tuple

(1, 2, 3, 4, 5, 6, 7, 2, 3, 4, 2, 4, 2, 5)

In [13]:
""" 9. Unpack the elements of a tuple into variables."""
#create the tuple
t=(1,2,3,4,5)

#assigning the value of the tuple to variables 
var1,var2,var3,var4,var5=t
print(var1)
print(var2)
print(var3)
print(var4)
print(var5)

1
2
3
4
5

In [3]:
"""10. Create a tuple of even numbers from 1 to 10."""
l=[]
for i in range(1,11):
    
    #multiply the value of i with 2 to get even number
    even_number=i*2
    
    #append the even number in list 
    l.append(even_number)
    
#typecasting from list to tuple
tuple_even_number=tuple(l)    
tuple_even_number

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [5]:
"""11. Create a tuple of odd numbers from 1 to 10"""
l=[]
for i in range(0,11):
    
    #multiply the value of i with 2 and add by 1 to get odd number
    odd_number=(i*2)+1
    
    #append the odd number in the list 
    l.append(odd_number)
    
#typecasting from list to tuple
tuple_odd_number=tuple(l)    
tuple_odd_number

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21)

In [6]:
"""12. Concatenate two tuples."""
tuple1=(1,2,3,4,5)
tuple2=(10,20,30,40,50)

#concatenate two tuple by adding them 
concatenation_tuple=tuple1+tuple2
concatenation_tuple

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [7]:
""" 13. Repeat a tuple three times."""
t=(1,2,3,4)

#to repeat the tuple to three times multiply the tuple with 3 
three_time_tuple=t*3
three_time_tuple

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [10]:
"""14. Check if a tuple is empty."""
t=(1,2,3)

#check if the length of the tuple is 0 then it is empty
if(len(t)==0):
    print("the tuple is empty")
else:
    print("the tuple is not empty")

the tuple is empty

In [13]:
""" 15. Create a nested tuple."""
t=(1,2,3,("hello"),("krishna","shingala") )
print("it is nested tuple \n")
t

it is nested tuple

(1, 2, 3, 'hello', ('krishna', 'shingala'))

In [25]:
"""16. Access the first element of a nested tuple."""
t=(1,2,3,("hello","h"),("krishna","shingala"))
for i in t:
    if(type(i)==tuple):
        print(i)
        break
    else:
        pass

('hello', 'h')

In [27]:
""" 17. Create a tuple with a single element."""
t=(1000,) #comma after the first element notify python that this tuple contain only one element
print("tuple with single element")
t

tuple with single element

1000

In [31]:
""" 18. Compare two tuples."""
tuple1=(1,2,3,4)
tuple2=(10,20,30,40)

#perform different comparsion operation between two tuples
print("equality between two tuple \t",tuple1==tuple2)
print("two tuples is not equal \t",tuple1!=tuple2)
print("tuple1  is grater then tuple2 \t",tuple1>tuple2)
print("tuple1 is less then tuple2 \t",tuple1<tuple2)

equality between two tuple 	 False
two tuples is not equal 	 True
tuple1  is grater then tuple2 	 False
tuple1 is less then tuple2 	 True

In [35]:
""" 19. Delete a tuple."""
t=(1,2,4,5)

#delete the tuple from the memory using del() function
del(t)

In [37]:
"""20. Slice a tuple."""
t=(1,2,3,4,"krishna","shingala","pwskills")

#slicing the tuple from the 3 rd index to end 
t[3:]

(4, 'krishna', 'shingala', 'pwskills')

In [39]:
""" 21. Find the maximum value in a tuple."""
t=(1244,2,324,443,9995,6)
print("the maximum number from the tuple is \n ")

#find the maximuim number from tuple by using max() function
max(t)

the maximum number from the tuple is

9995

In [44]:
"""22. Find the minimum value in a tuple"""
t=(1244,2,324,443,9995,6)
print("the minimum number from the tuple is \n ")

#find the minimum number from tuple by using min() function
min(t)

the minimum number from the tuple is

2

In [3]:
""" 23. Convert a string to a tuple of characters"""
s="hello krishna"

#for converting a string to tuple of characters using typecasting 
t=tuple(s)
print("tuple of characters are \n", t)

tuple of characters are
 ('h', 'e', 'l', 'l', 'o', ' ', 'k', 'r', 'i', 's', 'h', 'n', 'a')

In [6]:
"""24. Convert a tuple of characters to a string."""
t=('h', 'e', 'l', 'l', 'o', ' ', 'k', 'r', 'i', 's', 'h', 'n', 'a')
string_tuple=''.join(t)
string_tuple

'hello krishna'

In [6]:
""" 25. Create a tuple from multiple data types."""
t=(int,str,bool,complex,dict,list,tuple,set,float)
print("the tuple with multiple data types \n",t)

the tuple with multiple data types
 (<class 'int'>, <class 'str'>, <class 'bool'>, <class 'complex'>, <class 'dict'>, <class 'list'>, <class 'tuple'>, <class 'set'>, <class 'float'>)

In [9]:
""" 26. Check if two tuples are identical."""
tuple1=(12,13,14,15,16,17)
tuple2=(12,13,14,15,16,17)

#check the condition if two tuples are same by equality operator
if(tuple1==tuple2):
    print("two tuples are identical")
else:
    print("wo tuples are not identical")

two tuples are identical

In [15]:
""" 27. Sort the elements of a tuple."""
t=(12,78,56,78,0,19,100)
print("sort the elements of a tuple")

#sort the elements using sorted() method
sorted(t)

[0, 12, 19, 56, 78, 78, 100]

In [26]:
"""28. Convert a tuple of integers to a tuple of strings"""
t=(1,2,3,4,5,8)

#using list comprenshion and typecasting integer value is converted to string value of tuple
str_tuple=tuple(str(i) for i in t)
str_tuple

('1', '2', '3', '4', '5', '8')

In [28]:
""" 29. Convert a tuple of strings to a tuple of integers."""
t=('1','2','3','4')

#using list comprenshion and typecasting string value is converted to int value of tuple
int_tuple=tuple(int(i) for i in t)
int_tuple

(1, 2, 3, 4)

In [29]:
""" 30. Merge two tuples."""
tuple1=(1,2,3,4,5)
tuple2=("hello","pwskills","student")
#for merging using addition
tuple1+tuple2

(1, 2, 3, 4, 5, 'hello', 'pwskills', 'student')

In [59]:
"""31. Flatten a nested tuple."""
t=(1,(1,2,3),("hello","krishna"))
l=[]
for i in t:
    
    #use isinstance() method to check datatype of the object 
    if(isinstance(i,tuple)):
        l.extend(i)
    else:
        l.append(i)
tuple(l)

(1, 1, 2, 3, 'hello', 'krishna')

In [70]:
""" 32. Create a tuple of the first 5 prime numbers."""
l=[]
i=3
n=int(input("enter the value of n "))
while(len(l)<=n-1): #traverse unlit list has 5 elements 
    a=0
    for j in range(2,i):
        if(i%j==0): #if both are divisible then its not a prime number so make a=1 and break the loop
            a=1
            break
    if(a==0): #a=0 means its non prime number has append it to the list 
        l.append(i)
    i=i+1
    
#typecaste from 
print("the first 5 prime number is \n", tuple(l))

enter the value of n  5

the first 5 prime number is
 (3, 5, 7, 11, 13)

In [4]:
"""33. Check if a tuple is a palindrome."""
#create the tuple 
t=(1,2,3,4,3,2,1)

#palidrome tuple = forward and reversed of tuple will be same 
palidrome_tuple=t[::-1]
if(t==palidrome_tuple):
    print("the tuple is palidrome")
else:
    print("the tuple is not palidrome")

the tuple is palidrome

In [11]:
""" 34. Create a tuple of squares of numbers from 1 to 5."""
square_list=[]
for i in range(1,6):
    
    # use ** for powers 
    sq=i**2
    
    #append sq into square_list
    square_list.append(sq)
    
#typecaste from list to tuple  
print("tuple of the squares of number from 1 to 5 is  \n ", tuple(square_list))

tuple of the squares of number from 1 to 5 is
  (1, 4, 9, 16, 25)

In [13]:
"""35. Filter out all even numbers from a tuple."""
t=(1,2,3,4,5,6,7,8,9,0,12,14,19,18)
even_number=[]
for i in t:
    if(i%2==0):
        even_number.append(i)
print("all even numbers are stored in list and it is \n ", even_number)

all even numbers are stored in list and it is
  [2, 4, 6, 8, 0, 12, 14, 18]

In [15]:
""" 36. Multiply all elements in a tuple by 2 """
multiples_of_2=[]
t=(1,2,3,4,5,6,7,8,9,10)
for i in t:
    
    #multiply i with 2 and append into list 
    multiples_of_2.append(i*2)
print("multiples of 2 in tuples is \n", tuple(multiples_of_2))

multiples of 2 in tuples is
 (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [18]:
"""37. Create a tuple of random numbers."""
import random 

#typecasting of list comprrehension into tuple
random_tuple=tuple([random.randint(1,100) for i in range(10)])
random_tuple

(15, 24, 53, 82, 18, 78, 36, 100, 89, 76)

In [27]:
""" 38. Check if a tuple is sorted."""
t=(1,2,3,4,5,6)
length=len(t)
i=0
a=True

#traverse the while loop till len(tuple)-2 because for comparing i and i+1 loop shiuld traverse till len()-1 and as index starts with 0 hence needs len()-2
while(i<=length-2):
    if(t[i]>t[i+1]):
        print("tuple is not sorted ")
        a=False
    i+=1
if(a):
    print("tuple is sorted")

tuple is sorted

In [29]:
"""39. Rotate a tuple to the left by `n` positions"""
t=(1,2,3,4,5,6)
n=int(input("enter the value of n to rotate from left "))
rotated_tuple=t[n:] + t[:n]
rotated_tuple

enter the value of n to rotate from left  2

(3, 4, 5, 6, 1, 2)

In [30]:
""" 40. Rotate a tuple to the right by `n` positions"""
t=(1,2,3,4,5,6)
n=int(input("enter the value of n to rotate from right "))
rotated_tuple=t[-n:] + t[:-n]
rotated_tuple

enter the value of n to rotate from right  2

(5, 6, 1, 2, 3, 4)

In [40]:
""" 41. Create a tuple of the first 5 Fibonacci numbers"""
fibonacci_list=[0,1]
a,b=0,1
for i in range(1,6):
    c=a+b
    fibonacci_list.append(c)
    a,b=b,c
print("tuple of first 5 fibonacci number \n",tuple(fibonacci_list))

tuple of first 5 fibonacci number
 (0, 1, 1, 2, 3, 5, 8)

In [3]:
""" 42. Create a tuple from user input."""
t=()
for i in range(1,6):
    t=t+tuple(input("enter the value of n "))
t

enter the value of n  1
enter the value of n  2
enter the value of n  3
enter the value of n  4
enter the value of n  5

('1', '2', '3', '4', '5')

In [5]:
"""43. Swap two elements in a tuple."""
t=[1,2,3,4,5,6,7]
index1=int(input("enter the index of first element to swap"))
index2=int(input("enter the index of second element to swap"))
t[index1],t[index2]=t[index2],t[index1]
print("swapping of element at index1 and index2 is")
tuple(t)

enter the index of first element to swap 1
enter the index of second element to swap 3

swapping of element at index1 and index2 is

(1, 4, 3, 2, 5, 6, 7)

In [7]:
"""44. Reverse the elements of a tuple"""
t=(1,2,3,4,5,6,7)
reversed_tuple=t[::-1]
print("reversed elements of the tuple is ",reversed_tuple)

reversed elements of the tuple is  (7, 6, 5, 4, 3, 2, 1)

In [9]:
""" 45. Create a tuple of the first `n` powers of 2"""
l=[]
n=int(input("enter the valu of n "))
for i in range(1,n+1):
    
    #here base i 2 and power varies from 1 to n 
    a=2**i
    l.append(a)
print("tuple of the first n powers of 2 is \n", tuple(l))

enter the valu of n  5

tuple of the first n powers of 2 is
 (2, 4, 8, 16, 32)

In [24]:
""" 46. Find the longest string in a tuple of strings."""
t=("hello","krishna","welcome","to","pwskills")
longest=0  #it will store the maximuim length of string
for i in t:
    if(len(i)>longest):
        longest=len(i)
        index=t.index(i)  #store index of longest string of tuple 
print("the longest string in the tuple of string is \n",t[index])

the longest string in the tuple of string is
 pwskills

In [25]:
"""47. Find the shortest string in a tuple of strings"""
t=("hello","krishna","welcome","to","pwskills")
shortest=999  #it will store the minimuim  length of string
for i in t:
    if(len(i)<shortest):
        shortest=len(i)
        index=t.index(i)  #store index of shortest string of tuple 
print("the shortest string in the tuple of string is \n",t[index])

the shortest string in the tuple of string is
 to

In [26]:
""" 48. Create a tuple of the first `n` triangular numbers"""
#create the empty list 
triangular_list=[]

#take value of n from user 
n=int(input("enter the value of n"))

#traverse the loop from 1 to n
for i in range(1,n+1):
    
    #apply the formula and store the value in triangular_value varaible
    triangular_value=int((i)*(i+1)/2)
    
    #add that value in the list 
    triangular_list.append(triangular_value)
print("the list of triangular number is \n",tuple(triangular_list))

enter the value of n 5

the list of triangular number is
 (1, 3, 6, 10, 15)

In [30]:
""" 49. Check if a tuple contains another tuple as a subsequence."""
main_tuple=(1,2,3,4,5,6,7,8,9)
subsequence_tuple=(2,4,9)
sub_index=0
for i in main_tuple:
    
    #check if the elements of both tuple matchs , if matches then compare next element with i by incrementing index by 1 
    if(i==subsequence_tuple[sub_index]):
        sub_index+=1
        
        #if length of subsequence_tuple and sub_index is same then no need for futher comparision , make a true and break the loop
        if(len(subsequence_tuple)==sub_index):
            a=True
            break

#if a is true then tuple has subsequence 
if(a):
    print("tuple contains another tuple as a subsequence")
else:
    print("tuple dosnt contain another tuple as a subsequence")

tuple contains another tuple as a subsequence

In [2]:
""" 50. Create a tuple of alternating 1s and 0s of length `n`."""
n=int(input("enter the value of n "))

#list comphrension for number divisible with 2 get 1 or else 0 
alternate_tuple=tuple([1 if(i%2==0) else 0 for i in range(1,n+1)])
alternate_tuple

enter the value of n  10

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

 Set Based Practice Problem :

In [3]:
""" 1. Create a set with integers from 1 to 5."""
s={1,2,3,4,5}
print("set with integers from 1 to 5 \n",s)

set with integers from 1 to 5
 {1, 2, 3, 4, 5}

In [4]:
""" 2. Add an element to a set."""
s={1,2,3,4,5}
s.add(3455)    #add elemnet using add() method
s.add("hello")
s.add("krishna")
s

{1, 2, 3, 3455, 4, 5, 'hello', 'krishna'}

In [6]:
""" 3. Remove an element from a set"""
s={1,2,3,4,5}
s.pop()    #remove the element from the set using pop() method
print("after removing a element from the set , updated set will be \n", s)

after removing a element from the set , updated set will be
 {2, 3, 4, 5}

In [9]:
""" 4. Check if an element exists in a set."""
s={"hello","bachho","welcome","pwskills"}
element=input("element to check that exist in the set")
for i in s:
    if(i==element):  #check if element is present in the set 
        a=True
        break
    else:
        a=False
if(a):
    print("element exits in the set")
else:
    print("element does not exits in the set")

element to check that exist in the set bye

element does not exits in the set

In [12]:
""" 5. Find the length of a set without using the `len()` function"""
s={"hello","bachho","welcome","pwskills",90,65,987,(12,3,432)}
length=0
for i in s:  #traverse the set and add 1 in length which give length of the set
    length+=1
print("the length of the set is ", length)

the length of the set is  8

In [14]:
""" 6. Clear all elements from a set"""
s={"hello","bachho","welcome","pwskills",90,65,987,(12,3,432)}
s.clear()   #clear() method will remove all the elements from the set 
print("after removing all elements from the set ")
s

after removing all elements from the set

set()

In [20]:
""" 7. Create a set of even numbers from 1 to 10."""
s=set()
i=1
while(i<=10):
    if(i%2==0):  #condition for even number
        s.add(i)
    i+=1
print("set of even number from 1 to 10 \n",s)

set of even number from 1 to 10
 {2, 4, 6, 8, 10}

In [21]:
""" 8. Create a set of odd numbers from 1 to 10."""
s=set()
i=1
while(i<=10):
    if(i%2!=0):  #condition for odd number 
        s.add(i)
    i+=1
print("set of odd number from 1 to 10 \n",s)

set of odd number from 1 to 10
 {1, 3, 5, 7, 9}

In [1]:
""" 9. Find the union of two sets."""
s1={1,2,3,4,5,6,7}
s2={7,1,5,"hello","bacho","welcome"}
print("union of two sets is ")
s1.union(s2)

union of two sets is

{1, 2, 3, 4, 5, 6, 7, 'bacho', 'hello', 'welcome'}

In [24]:
""" 10. Find the intersection of two sets."""
s1={1,2,3,4,5,6,7}
s2={7,1,5,"hello","bacho","welcome"}
print("intersection of two set is \n")
s1.intersection(s2) #intersection() method is used to find intersection between two set

intersection of two set is

{1, 5, 7}

In [26]:
""" 11. Find the difference between two sets"""
s1={1,2,3,4,5,6,7}
s2={7,1,5,"hello","bacho","welcome"}
print("difference between two set is ")
s1-s2  #difference between two set means common elements of s2 will remove from s1 if exits

difference between two set is

{2, 3, 4, 6}

In [28]:
""" 12. Check if a set is a subset of another set."""
s1={1,2,3,4,5,6,7}
s2={7,1,5}
s2.issubset(s1)  #s2 is subset of s1 means all elements of s2 resides in s1

True

In [33]:
""" 13. Check if a set is a superset of another set."""
s1={1,2,3,4,5,6,7}
s2={7,1,5}
print(s2.issuperset(s1))  #s2 is subset of s1 , superset means all elements of another set is present 
print(s1.issuperset(s2))  #s1 is superset of s2

False
True

In [36]:
""" 14. Create a set from a list."""
l=[1,2,3,4,5,6,6,5]
s=set(l) #typecasting from list to set 
s

{1, 2, 3, 4, 5, 6}

In [37]:
""" 15. Convert a set to a list."""
s={1,2,3,4,5,6}
l=list(s)  #typecasting of set to list 
l

[1, 2, 3, 4, 5, 6]

In [48]:
""" 16. Remove a random element from a set."""
import random
s={1,2,3,4,5,6,643,7,35,25}
random_element=random.choice(list(s))  #random.choice() method will chose one element from the list then get stored in random_element variable
s.remove(random_element)  #random_element is removed from the set
print("element to removed from the set is", random_element)
s

element to removed from the set is 6

{1, 2, 3, 4, 5, 7, 25, 35, 643}

In [50]:
""" 17. Pop an element from a set."""
s={1,2,3,4,5,6,7,8}
s.pop() #pop() method will remove any element from the set  
s

{2, 3, 4, 5, 6, 7, 8}

In [53]:
"""18. Check if two sets have no elements in common."""
s1={12,3,4}
a=False
s2={"welcome",2,"pwskills"}
for i in s1:
    for j in s2: #nested for loop
        if(i==j):  #check if two sets have common elements
            a=True
if(a):
    print("two sets have common elements")
else:
    print("two sets have no elements common")

two sets have no elements common

In [57]:
""" 19. Find the symmetric difference between two sets."""
s1={12,3,4}
s2={"welcome",2,"pwskills"}
print("symmetric difference of s1 and s2 ",s1.symmetric_difference(s2))
print("symmetric difference of s2 and s1 ", s2.symmetric_difference(s1))
print("symmetric difference of s2 and s2",s2.symmetric_difference(s2))

symmetric difference of s1 and s2  {2, 3, 4, 12, 'welcome', 'pwskills'}
symmetric difference of s2 and s1  {2, 3, 4, 12, 'welcome', 'pwskills'}
symmetric difference of s2 and s2 set()

In [61]:
"""20. Update a set with elements from another set."""
s={1,2,3,4,5,6}
s2={"hello","krishna"}
s.update(s2) #update() method will  do union with other set or with itself , that update is stored in the original memory 
s

{1, 2, 3, 4, 5, 6, 'hello', 'krishna'}

In [73]:
"""21. Create a set of the first 5 prime numbers."""
s=set()
i=2
while(len(s)<=5-1):
    a=0
    for j in range(2,i):
        if(i%j==0):  #if i and j is divisible then it is not prime number , make a=1 and break the loop
            a=1
            break
    if(a==0):  #if a is 0 that means i and j is not divisible -> prime number , add to set 
        s.add(i)
    i+=1
print("the set of 5 prime numbers ",s)

the set of 5 prime numbers  {2, 3, 5, 7, 11}

In [76]:
"""22. Check if two sets are identical"""
s1={1,2,3,4,5,6}
s2={5,6,7,3,2}
print("check wether two set is identical True-> they are identical  False-> they are not identical")
s1==s2

check wether two set is identical True-> they are identical  False-> they are not identical

False

In [79]:
"""23. Create a frozen set."""
s={1,2,3,4,5}
frozen_set=frozenset(s) # set is mutable and frozenset is immutable
frozen_set

frozenset({1, 2, 3, 4, 5})

In [86]:
"""24. Check if a set is disjoint with another set."""
s1={1,2,3,4,5,6}
s2={"hello","krishna"}
s2.isdisjoint(s1) #disjoint is when intersection of two set is 0

True

In [89]:
""" 25. Create a set of squares of numbers from 1 to 5."""
s=set()
for i in range(1,6):
    square=i**2 #here power is 2 and base is from 1 to 5
    s.add(square)
print("set of squares from 1 to 5 ",s)

set of squares from 1 to 5  {1, 4, 9, 16, 25}

In [93]:
""" 26. Filter out all even numbers from a set"""
s={1,2,3,4,5,66,54,68,90,190,672,67}
even_set=set()
for i in s:
    if(i%2==0):
        even_set.add(i)
print("set of even number is \n",even_set)

set of even number is
 {672, 2, 66, 4, 68, 54, 90, 190}

In [95]:
""" 27. Multiply all elements in a set by 2"""
s={1,2,3,4,5,6}
multiplies_2=set()
for i in s:
    multiplies_2.add(i*2) #multiply every element with 2 
print("multiplies of 2 is",multiplies_2)

multiplies of 2 is {2, 4, 6, 8, 10, 12}

In [98]:
""" 28. Create a set of random numbers."""
import random  #need to import random library
s=set()
for i in range(1,11):
    s.add(random.randint(1,1000))  #random.randint(1,1000) method is used to generate random numbers from 1 to 1000 
print("set of 10 random number is \n", s)

set of 10 random number is
 {97, 67, 869, 6, 935, 361, 363, 145, 660, 825}

In [99]:
""" 29. Check if a set is empty."""
s={1,2,3}
if(len(s)==0):  #length is 0 then set is empty
    print("set is empty")
else:
    print("set is not empty")

set is not empty

In [101]:
""" 30. Create a nested set (hint: use frozenset)."""
s={1,2,3,4,5}
s2={"hello","krishna","shingala"}
frozen_set1=frozenset(s)  #typecasting from set to frozenset
frozen_set2=frozenset(s2)
nested_set={frozen_set1, frozen_set2} #merging two frozenset into nested_set
print("nested set using frozen set")
nested_set

nested set using frozen set

{frozenset({1, 2, 3, 4, 5}), frozenset({'hello', 'krishna', 'shingala'})}

In [103]:
""" 31. Remove an element from a set using the discard method."""
s={1,2,3,4,5}
s.discard(4)  #remove the elements from the set using discard(value) method 
s

{1, 2, 3, 5}

In [106]:
""" 32. Compare two sets"""
s1={12,33,34,2,5,2}
s2={1,23,4,53,56,2}
print("s1 is greater then s2", s1>s2)
print("s1 is lesser then s2", s1<s2)
print("s1 and s2 is identical", s1==s2)
print("s1 is not identical to s2", s1!=s2)

s1 is greater then s2 False
s1 is lesser then s2 False
s1 and s2 is identical False
s1 is not identical to s2 True

In [109]:
""" 33. Create a set from a string."""
s="hello krishna"
s1=set(s)  #create the set of characters from the string using typecasting
s1

{' ', 'a', 'e', 'h', 'i', 'k', 'l', 'n', 'o', 'r', 's'}

In [113]:
"""34. Convert a set of strings to a set of integers"""
s={"1","2","3","4","5"}
int_set=set()
for i in s:
    int_set.add(int(i)) #string is converted to int then added into int_set 
print("set of string is converted to set of integers \n", int_set)

set of string is converted to set of integers
 {1, 2, 3, 4, 5}

In [116]:
""" 35. Convert a set of integers to a set of strings."""
s={1,2,3,4,5}
string_set=set()
for i in s:
    string_set.add(str(i)) #int is converted to string then added into int_set 
print("set of int is converted to set of string \n", string_set)

set of int is converted to set of string
 {'4', '2', '5', '1', '3'}

In [119]:
""" 36. Create a set from a tuple"""
t=(1,2,3,45)
s=set(t)  #tuple is converted to set using typecasting
print("set from tuple is",s)

set from tuple is {1, 2, 3, 45}

In [121]:
"""37. Convert a set to a tuple"""
s={1,2,3,45}
t=tuple(s)  #set is converted to tuple using typecasting
print("set is converted to tuple",t)

set is converted to tuple (1, 2, 3, 45)

In [124]:
""" 38. Find the maximum value in a set"""
s={1,2,3,321,534,42,765,8}

#maximum value is find using max() inbuilt function
print("maximuim elements from the set is \n",max(s))

maximuim elements from the set is
 765

In [125]:
""" 39. Find the minimum value in a set."""
s={1,2,3,321,534,42,765,8}

#minimuim value is find using min() inbuilt function
print("minimum elements from the set is \n",min(s))

minimum elements from the set is
 1

In [128]:
""" 40. Create a set from user input"""
s=set()
for i in range(1,6):
    s.add(int(input("enter the value to insert in set")))  #take user input using input() function
s

enter the value to insert in set 87
enter the value to insert in set 35
enter the value to insert in set 7879
enter the value to insert in set 786
enter the value to insert in set 3

{3, 35, 87, 786, 7879}

In [133]:
""" 41. Check if the intersection of two sets is empty."""
s1={1,2,3,4,5}
s2={3,76,435,2}
intersection=s1.intersection(s2)  #intersection() method is used to find intersection between two set
print(intersection)
if(intersection):
    print("intersection of two set is not empty")
else:
    print("intersection of two set is empty")

{2, 3}
intersection of two set is not empty

In [141]:
"""42. Create a set of the first 5 Fibonacci numbers"""
s=set()
a,b=0,1
for i in range(1,6):
    c=a+b 
    s.add(c)
    a,b=b,c
print("set of first 5 fibonacci numbers is",s)

set of first 5 fibonacci numbers is {1, 2, 3, 5, 8}

In [145]:
""" 43. Remove duplicates from a list using sets."""
l=[1,2,3,4,2,3,2,65,43,65]
s=set(l)
print("set after removing duplicates from a list using set \n",s)

set after removing duplicates from a list using set
 {65, 1, 2, 3, 4, 43}

In [146]:
""" 44. Check if two sets have the same elements, regardless of their count"""
s1={1,2,3,4,5}
s2={3,76,435,2}
same_element=s1.intersection(s2) #if have 2 sets have intersection means it have same elements
if(same_element):
    print("two set have same elements")
else:
    print("two set dosnt have same elemmets")

two set have same elements

In [149]:
""" 45. Create a set of the first `n` powers of 2"""
n=int(input("enter the value of n"))
s=set()
for i in range(1,n+1):
    s.add(2**i)
print("set of first n powers of 2",s)

enter the value of n 5

set of first n powers of 2 {32, 2, 4, 8, 16}

In [151]:
""" 46. Find the common elements between a set and a list"""
s1={1,2,3,4,5}
t2=[3,76,435,2]
s2=set(t2) #typecaste list to set  
common_element=s1.intersection(s2)  # do intersection to find common elements 
print("common element between set and the list is ", common_element)

common element between set and the list is  {2, 3}

In [154]:
"""47. Create a set of the first `n` triangular numbers."""
n=int(input("enter the value of n"))
s=set()
for i in range(1,n+1):
    s.add(int((i)*(i+1)/2))  #apply triangular formula for getting triangular number 
print("set of triangular numbers is \n",s)

enter the value of n 5

set of triangular numbers is
 {1, 3, 6, 10, 15}

In [156]:
"""48. Check if a set contains another set as a subset"""
s1={1,2,3,4,5}
s2={1,4,2}
print("s1 is subset of s2", s1.issubset(s2))  
print("s2 is subset of s1", s2.issubset(s1))

s1 is subset of s2 False
s2 is subset of s1 True

In [159]:
""" 49. Create a set of alternating 1s and 0s of length `n`"""
n=int(input("enter the value of n"))

#using list comphension alternating 0 and 1 is print , but because set remove duplicate value resultant set have only 0,1 value
s=set([1 if(i%2==0) else 0 for i in range(1,n+1)])
s

enter the value of n 9

{0, 1}

In [166]:
""" 50. Merge multiple sets into one."""
s1={1,2,3,4}
s2={10,20,30,40}
s3={"hello","krishna","welcome","pwskills"}
s4={0.232,0.42222224,0.34,0.99999}

#multiple sets are merged into s1 using union() method 
merge_sets=s1.union(s2,s3,s4)
merge_sets

{0.232,
 0.34,
 0.42222224,
 0.99999,
 1,
 10,
 2,
 20,
 3,
 30,
 4,
 40,
 'hello',
 'krishna',
 'pwskills',
 'welcome'}